[Desktop Entry]
Name=Ydpdict en->pl
Comment=English-Polish dictionary
Comment[pl]=Słownik angielsko-polski
Exec=ydpdict -a
Terminal=true
Icon=ydpdict
Type=Application
Categories=ConsoleOnly;Office;Dictionary;
# vi: encoding=utf-8
