[Desktop Entry]
Name=Ydpdict en->pl
Comment=English-Polish dictionary
Comment[pl]=Słownik angielsko-polski
Exec=ydpdict -a
Terminal=true
Icon=ydpdict.png
Type=Application
Encoding=UTF-8
Categories=Application;Office;Dictionary;
# vi: encoding=utf-8
