[Desktop Entry]
Name=Ydpdict pl->en
Comment=Polish-English dictionary
Comment[pl]=Słownik polsko-angielski
Exec=ydpdict -p
Terminal=true
Icon=ydpdict
Type=Application
Categories=ConsoleOnly;Office;Dictionary;
# vi: encoding=utf-8
